@media print {
* { 
background: #fff; 
color: #000;
}

html, body { 
font:12pt Georgia, "Times New Roman", Times, serif;
line-height:1.8em;
}

ol.commentlist li p, ol.commentlist li ul, ol.commentlist li div.vcard {
font: 12pt Georgia, "Times New Roman", Times, serif;
line-height:1.8em;
}

ol.commentlist li div.comment-meta, .postinfo {
font: 10pt Georgia, "Times New Roman", Times, serif;
line-height:1.8em;
}

.col2, .col3, #header, #footer, #respond, ol.pinglist, ul.commentlist, h4#pings, h4#comments, .social, .reply, #wp_page_numbers, .noprint, .avatar, .says, .navigation, .cancel-comment-reply, #sb-loading, .related_post_title, .related_post, .lightsocial_container { 
display:none 
}

.colmask {
width: 100% !important;
margin:0 0 0 20px;
}

.col1{ 
margin:0; 
float:none; 
width: 95% !important;
}

a, a:visited { 
border-bottom: none; 
font-weight:bold; 
color:#000066; 
text-decoration:underline 
}

.entry a:link:after, .entry a:visited:after {
content: " (" attr(href) ") ";
font-size: 90%
}

.entry a[href^="/"]:after {
content: " (" attr(href) ") "
}

img.centered { 
display: block; 
margin-left: auto; 
margin-right: auto
}

img.right { 
padding: 4px; 
margin: 0 0 2px 7px; 
display: inline
}

img.left { 
padding: 4px; 
margin: 0 7px 2px 0; 
display: inline
}

.right {
float: right
}

.left {
float: left 
}

ol.commentlist li { 
border:none; 
}

.printinfo {
display: block;
margin-top: 50px;
font: 12pt Georgia, "Times New Roman", Times, serif;
line-height:1.8em;
font-style:italic;
page-break-after: avoid
}
}