body, p, div, font, table, td ,tr, span, h2 {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serifn;
font-size: 12px; letter-spacing: 0px;
color: #000000;
}

i { color: #665632}

b { color: #665632}

u { color: #665632}

textarea, input, select { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px; ;
color: #000000; border: 1px solid #000000; background-color: #efd59c;}

li.newbullet {
list-style-image:url(bullet.gif)
}

A:link, A:active, A:visited {
font-weight: bold; background: transparent; border: 0px #000000 solid; padding-top: 2px; padding-bottom: 2px; padding-left: 30px; padding-right: 30px; text-align:center; 
text-decoration: none; text-transform: uppercase; font-size: 14px;
color: #000000;
}


A:hover {
background: #907b53;  font-weight: bold; padding-top: 2px; padding-bottom: 2px; padding-left: 30px; padding-right: 30px; text-align:center; 
 color: #FFFFFF; font-size: 14px;
}

.titlelink {font-family: Georgia, Verdana; font-size:  24pt; color: #000000; text-align: center;  text-transform: uppercase; text-decoration: none; border: 0px;}

.text{
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 13px; ;
color: #000000; background-color: #ffffff; border: 0px solid #000000;
padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; text-align: left;
}

.nav{
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 13px; ;
color: #000000; background-color: #ffffff; border: 1px solid #e5af6e;
padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; text-align: center;
}


.header {font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12pt; color: #000000; font-weight: bold; text-align: center; background: #efd59c; text-transform: uppercase; letter-spacing: 2px;}


.title {font-family: Georgia, Verdana; font-size:  24pt; color: #000000; text-align: center;  text-transform: uppercase;}

hr { border: 1px solid #665632}